<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lab 6 Part 2</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="part2.js"></script>
    </head>
    <body>
        <h1>Lab 6 Part 2</h1>
        <form action="#" th:action="@{~/}" method="get">
            <input type="hidden" name="operation" value="create"/>
            <p><input type="submit" value="Create New Address Book"/></p>
        </form>
        <form action="#" th:action="@{~/}" method="get">
            <input type="hidden" name="operation" value="view"/>
            <p>Address Book Id: <input type="text" name="addrBookId" id="addrBookId"/></p>
            <p><input type="submit" value="View Address Book"/></p>
        </form>
        <form action="#" th:action="@{~/}" method="get">
            <p><input type="submit" value="See Part 1"/></p>
        </form>
    </body>
</html>