<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lab 6 Part 1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Lab 6 Part 1</p>
        <form action="#" th:action="@{/create}" method="get">
            <p><input type="submit" value="Create New Address Book"/></p>
        </form>
        <form action="#" method="get">
            <p>Address Book Id: <input type="text" name="addrBookId" id="addrBookId"/></p>
            <p><input type="submit" value="View Address Book"/></p>
        </form>
    </body>
</html>